

@import url("opensans.css");
body {margin:0;padding:10px; width: 100%; box-sizing: border-box; font-size: 80%; font-family: 'Open Sans', Sans-Serif; 	text-align: justify; background-color: #f1f0ee;}
button {font-size: 100%;}

table, th, td {
   border: 0px solid black;
   font-size: 100%;
}

table.with_border{
  width:100%
}
table.with_border, table.with_border th, table.with_border td{
   border: 1px solid black;
   font-size: 100%;
   border-collapse: collapse;
   text-align: center;
}

table.with_border tr:first-child,table.with_border td:first-child{
  font-weight: bold;
}

h2{
    color: rgb(40,40,40);
}

h1 {
    font-size: 160%;
    margin:auto;
    margin-left:10px;
}

input{
    width: 90%;
    margin-right: 10px;
}

fieldset{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150,150,150);
    padding: 10px 10px 5px 10px;
}

fieldset table{
  width: 95%;
}

fieldset p{
    margin:0;
}

fieldset input{
    width: 50px;
}

fieldset input.long, fieldset select.long{
    width: 85%;
}

fieldset > label{
    display: inline-block;
    width: 45px;
    text-align: left;
    padding: 0px;
    margin:auto;
}


fieldset > legend{
    color: rgb(40,40,40);
    font-weight: bold;
}

td{
    height: 15px;
}

.option_info {
  cursor: help;
  font-weight: bolder;
  display: inline;
}

select {
    margin-right:10px;
}





.more_info {
  cursor: help;
  background: #dedbde; /*#ececec;*/
  color: #555;
  border: 1px solid #c9c3ba;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  width: 80px;
  height: 20px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.tooltip {
    box-sizing: border-box;
	font-size: 90%;
	width: 60vw;
	text-align: justify;
	background:#ffffff;
  	margin-bottom: -105px;
  	left: 5vw;
}

.tabContent .more_info .tooltip{
        width: 70vw;
}


.more_info .tooltip, .option_info .tooltip {

  bottom: 100%;
  display: none;

  opacity: 0;
  /*filter: alpha(opacity=0); COMMENTED*/
  pointer-events: none;
  position: absolute;

  padding: 10px;


  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);





  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     /*-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28); COMMENTED */
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.more_info .tooltip:before, .option_info .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}


.more_info:hover .tooltip, .option_info:hover .tooltip {
  display: block;
  opacity: 1;
  /* filter: alpha(opacity=100); COMMENTED */
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .more_info .tooltip, .lte8 .option_info .tooltip {
  display: none;
}

.lte8 .more_info:hover .tooltip, .lte8 .option_info:hover .tooltip {
  display: block;
}
