
body{
  padding:0;
  box-sizing: content-box;
}

ul#tabs {
  height: 100%;
  float:left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: rgb(110,110,110);
}
ul#tabs li { height: 18px; width: auto; margin-bottom: 11px;  }
ul#tabs li a {display: block; width: 100%; color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-right: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee;}

div.tabContent {
  float:right;
  height:100vh;
  padding: 0.0em 0.5em 0.3em 1.3em;
  background-color: #f1f0ee;
  width: auto;
}
div.tabContent.hide { display: none; }
