// DEFAULT COLORS
@import "./common/palette";

$darker: 0.2;
$lighter: 0.2;

$primary: #3f51b5 !default;
$primary-light: lighten-color($primary,0.2) !default;
$primary-dark: darken-color($primary,0.1) !default;

$secondary: #ff4081 !default;
$secondary-light: lighten-color($secondary,0.2) !default;
$secondary-dark: darken-color($secondary,0.1) !default;

$warn: #f44336 !default;


$background: white !default;

$small: 420px;

/* DIRECTIVES */
/**************/
// Layout
@import "./directives/fluid";
@import "./directives/row";

/* COMPONENTS */
/**************/
@import "./common/shadows";

@import "../../assets/tables";


@import "../../assets/forms";

@import "./components/sidenav/sidenav";
@import "./components/navbar/navbar";
@import "./components/buttons/buttons";
@import "./components/input/input";
@import "./components/color-pick/rgb-color-pick";

$font-family: Arial, Helvetica, sans-serif !default;

*{    
    font-family: $font-family;
}

html,body{
    background-color:#F2F2F2;
    color: rgba(0,0,0,0.87); 

}
  