@import "../../node_modules/clean-ui/common/elevations.scss";

@mixin thumb {
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 1px solid rgb(110,110,110);
    height: 20px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */

    @include mat-elevation(2);    
}

div.a-color-pick{

    /* BASED ON https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
    input[type=range] {
        appearance:none;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
    }
      
    input[type=range]::-webkit-slider-thumb {
        appearance:none;
        -webkit-appearance: none;
    }
      
    input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
      
    input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
      
        /* Hides the slider so custom styles can be added */
        background: transparent; 
        border-color: transparent;
        color: transparent;
    }


    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
        @include thumb;
    }
    
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        @include thumb;
    }
    
    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        @include thumb;
    }
      /* END OF REFERENCE */

    display:inline;
    cursor: pointer;    
    text-align: center;    
    vertical-align: middle;
    
    div.colours{
        background-color: $background;        
        border-radius:0;
        @include mat-elevation(10);
        text-align: center;
        position: absolute;
        z-index:9999999999;   
        border:none;             
    }

    i.material-icons{
        @include mat-elevation(5);
        vertical-align: middle;
        border-radius:50%;
        border: 5px solid gray;
        padding: 8px;
    }
}

  
#hue,#saturation,#value{
        
    display:block;
    width: 2in;
    height: 0.2in;
    background-color: red;
    margin: 5px;
    border: 1px solid black;        
}
#hue {
     background: linear-gradient(to right, 
        rgb(255,0,0), 
        rgb(255,255,0),
        rgb(0,255,0),
        rgb(0,255,255),
        rgb(0,0,255),
        rgb(255,0,255),
        rgb(255,0,0)
     );
}

