
@mixin flat-button-feedback($color) {
    color: $color;                            
    &:hover {
        background-color: hover-color($color);        
    }        
    &:active {
        background-color: ripple-color($color);                
        background-size: 100%;
    } 
}

.navbar{
    background-color: transparent;
    //align-content: right;
    vertical-align: middle;
    
    input,a{
        margin: 5px;
        padding: 4px 10px;
    }
    
    a{
        border: 1px solid $primary;
    
        //font-weight: 500;
        text-decoration: none;
        color: $primary;
        color:black;        
        float:right;
        &:visited{
            color: $primary;
        }

        &:hover {
            transition: background 0.2s;
        }

        &:active{            
            transition: background 0s;
        }

        @include flat-button-feedback($primary);

    }

    a:active{
        color: red;
    }
}