form {
    
    text-align: left;


    div.md-select{        

        .selected {
            border-bottom: 1px solid $borders;                                                         
        }

        

        .items {
            cursor:pointer;
            background: white;
            position:absolute;            
            @include level-2;    
            z-index: 9999;        
            div{
                cursor:pointer;
                padding: 0 10px;
                &:hover{
                    background-color:#EEEEEE;
                }
            }
        }
    } 

    
    
}