
$primary:#16253c;
$secondary: #cc7212;

$background: darken(white,4);
$curtain: rgba(0,0,0,0.4);

$color: lighten(black,10);

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-family: 'Montserrat', 'sans-serif';


@import "../node_modules/clean-ui/clean-ui";

@media only screen and (min-width: $small) {
  div.a-navbar{
    left: 150px
  }
}

span.no-data{
  position:absolute;
  font-size: 85%;
  top: 30vh;
  color: lighten($color,40);
  transform: translate(-50%,0);
  
}



div.a-container{
  text-align: center;
}


i.action{
  font-size: 150%;
  cursor:pointer;
  color:$primary;
  vertical-align: middle;  
}

//@media only screen and (max-width: $small) {
  //div.a-navbar{
    //display:none;
  //}
//}