
table{    
  
  text-align:left;
  font-size:0.13in;  
  margin: auto;

  input{
    border: transparent;
  }
  
  
  td,th {
    padding: 0px 0.25in;
  }

  th {
    font-size: 100%;
    background-color:white !important;
    color: rgba(0,0,0,0.54);
    font-weight:normal;
    cursor:default;
    tr {
      height: 0.35in;
    }
  }

  tr { 
    font-size: 108%;  
    height:0.3in;
    border-bottom: 1px solid #e0e0e0;
  }

  

  &.selectable-row {
    tr {          
      cursor:pointer;
    }
    tr:hover {
        background-color:#EEEEEE;        
    }

    td.actions{
      cursor: default;
      i{
        font-size:120%;
        cursor:pointer;
        color: rgba(0,0,0,0.54);
        margin-right: 3px;
        &:hover{
          color:black;
        }
      }
    }
  }

  &.selectable-cell{
    
    td.clickable {
      cursor:pointer;
      text-align:center;      
    }
    td:first-child i,tr:first-child i{
      font-size: 110%;
      margin-right: 4px;
      cursor:pointer;
    }
  }
}    

