
html {
  /*background-image: url(../images/bg/back_3_BW.jpg);*/
  background-color: rgb(40,40,40);
}

#projects{
    padding:20px;
    top:50px;
    position:absolute;
    width:100vw;
    box-sizing: border-box;
}

.tile_container > li{
    width: 10vw;
    height: 10vw;
    min-width:150px;
    max-width:200px;
    min-height: 150px;
    max-height: 200px;
}

#groundhog{
     background-image: url(../images/projects/groundhog.jpg);
}

#etools{
    background-image: url(../images/projects/ETool.png);
    background-color: white;
    background-size: contain;
}

#ichma{
    background-image: url(../images/projects/ichma.png);
}

#galerias{
    background-image: url(../images/projects/galerias.jpg);
}

#ilumina{
    background-image: url(../images/projects/ilumina.jpg);
    background-size: cover;
    background-position: right;
}

#rad_workshop{
    background-image: url(../images/projects/rad_workshop.png);
    background-color: black;
    background-size: contain;
}

#latamsustentable{
    background-size: contain;
    background-color: white;
    background-image: url(../images/projects/latamsustentable.png);
}


@media screen and (max-width:800px) {
    .tile_container > li{
        width: 40vw;
        height: 40vw;
    }
}

@media screen and (max-width:340px){
    .tile_container > li{
        width:80vw;
        height:80vw;
    }
}
