
/* HOME */

html {
  background-image: url(../images/bg/back_4.jpg);
}


@media screen and (min-width:1000){

    html {
      background-image: url(../images/bg/back_4_medium.jpg);
    }

}

@media screen and (min-width:2000){

    html {
      background-image: url(../images/bg/back_4_large.jpg);
    }

}


#home_logo {
    width: 25vw;
    height:14vw;
    max-width: 300px;
    max-height: 168px;
    min-width: 100px;
    min-height: 56px;
    padding-left: 40px;
    padding-top: 40px;
    position:absolute;
    bottom: 40px;
}

@media screen and (max-width: 800px) {

  #home_logo{

      height:20vh;
      width: auto;
      margin-left:auto;
      margin-right:auto;
      left:0;
      right:0;
      padding:0;
  }
}
