
.general_content{
    top: 20vh;
    position:relative;
    width:50%;
    min-width: 300px;
}


html {
  background-image: url(../images/bg/back_1_BW.jpg);
}


@media screen and (min-width:1000){

    html {
      background-image: url(../images/bg/back_1_BW_medium.jpg);
    }

}

@media screen and (min-width:2000){

    html {
      background-image: url(../images/bg/back_1_BW_large.jpg);
    }

}
